### Private data ###
TODO.txt
docker/.env
docker/postgres-data/

### Vault secrets volumes (data dir) ###
vault-setup/data/

### Private TLS key and OS environemnt variables for prod ###
vault-setup/vault/certs/*.key
vault-setup/vault_keys.json
vault-setup/terminal-commands.txt

### Target ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
